<settings>
	<profiles>
		<profile>
			<id>default</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
			   <repository>
				   <id>1_maven.apache.org</id>
				   <url>https://repo.maven.apache.org/maven2</url>
			   </repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
					<id>1_maven.apache.org</id>
					<url>https://repo.maven.apache.org/maven2</url>
					<layout>default</layout>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
    <mirrors>
      <mirror>
        <id>1_maven.apache.org</id>
        <url>https://repo.maven.apache.org/maven2</url>
        <mirrorOf>external:*</mirrorOf>
      </mirror>
    </mirrors>
</settings>